table.CommentItem {
	border-top: 1px solid #000; 
	margin: 0 0 2em 0;
	width: 100%; 
}

table.CommentItem th {
	width: 50px; 
	font-weight: bold;
}

table.CommentItem th,
table.CommentItem td {
	padding: 8px 10px 8px 0;
	border-bottom: 1px dotted #ccc; 
	vertical-align: top; 
}

table.CommentItem td.CommentText {
	width: 55%; 
	padding-left: 10px; 
	border: none; 
}

.CommentFilters {
	float: left; 
}
	.CommentFilters a.on {
		font-weight: bold; 
	}

.CommentPagination {
	float: right; 
}

.CommentItemStatus999 {
	display: none; 
}

.CommentItemStatus-2 .CommentText {
	background: #ffffcc; 
}

.CommentItemStatus0 .CommentText {
	background: #ffffdd; 
}

.CommentText textarea {
	width: 100%; 
	min-height: 20em;
}

